<!DOCTYPE html>
<html>
<head>
  <title>Vate</title>
  <script src='bower_components/lodash/lodash.js'></script>
  <script src='bower_components/jquery/dist/jquery.js'></script>
  <script src='bower_components/angular/angular.js'></script>
  <script src='bower_components/processing/processing.js'></script>
  <script src='bower_components/silabas/browser.js'></script>
  <script src='vate.js'></script>
</head>
<body ng-app="vate" ng-controller="VateCtrl">
  <input type="text" ng-model="hello" /><br />
  <input type="text" ng-model="world" /><br />
  <canvas vate-processing="vate.pde"></canvas>
</body>
</html>